.crumb {
	font-weight: 500;
	color: #aaa;
	text-decoration: inherit;
	cursor: pointer;
}
.crumb:hover {
	color: #535bf2;
}

.breadcrumb {
	display: inline-block;

	font-family: Lato;
	font-size: 18px;
}

.breadcrumb:not(:last-of-type)::after {
	content: "chevron_right";
	margin: 0 5px;
	color: #ccc;

	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
}
