.carousel-track {
	position: absolute;
	left: 50%;
	display: flex;
	gap: 4vmin;

	width: 100%;
	height: 100%;

	margin: 0rem;
	overflow: visible;
}

.carousel-item {
	width: 20vmin;
	height: 30vmin;
	object-fit: cover;
	object-position: 50% 50%;
	border-radius: 8px;
}
