.searchbar {
	border-radius: 8px;
	background-color: #444;
	transition: 0.2s;
}

.searchbar:hover {
	border-radius: 8px;
	background-color: #333;
	cursor: pointer;
}

.search-icon {
	margin: 0;
	height: 100%;
	aspect-ratio: 1;
	text-align: center;
	color: #fff;
}

.search-background-image:hover {
	filter: brightness(0.6);
	transition: 0.2s;
}
